body{
    background-image: url(img/gratis-png-tecnologia-digital-fondo-azul-bandera-viga-lineas.png);
    height: 100%;
   }
   .form{
    width: 32%;
    height: auto;
    background-color: rgb(235, 232, 232);
    padding: 30px;
    margin: auto;
    border-radius: 10px ;
    border: 4px solid black;
   }
   h1 {
    background-color: rgb(0, 0, 73);
    margin: auto;
    color: rgb(255, 255, 255);
    padding: 10px;
    width: auto;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
   }
   .control {
   
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
   }
   .control1 {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    width: 98%;
   }
   .boton {
    margin: auto;
    width: 48%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: rgb(0, 0, 73);
    font-size: 18px;
    text-align: center;
   }
   p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(8, 8, 8);
   }
   
